{% extends "layout.html" %}

{% block content %}
<div style="text-align: center; padding: 50px;">
    <h1>404: Page Not Found</h1>
    <p>Oops! The page you are looking for could not be found.</p>
    <p>Try searching for your content or check out our most popular pages:</p>
    <a href="/" style="text-decoration: none; color: blue;">Return Home</a>
    <br>
</div>
{% endblock %}