{% extends "layout.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="container my-5">
    <iframe src="https://only.meme/auth/realms/onlymeme/account" title="Keycloak Account Management"></iframe>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const iframe = document.querySelector('iframe');
        iframe.onload = function() {
            console.log('Iframe loaded successfully');
        };
        iframe.onerror = function() {
            console.log('Failed to load iframe');
            // Optionally display an error message or alternative content
        };
    });
</script>
{% endblock %}