{% extends "layout.html" %}

{% block title %}Delete Account{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-lg p-4 mb-4 bg-body rounded">
        <h1 class="text-center mb-4">Delete Your Account</h1>
        <p>If you decide to delete your account, please be aware that this action is irreversible. Follow the steps below to proceed:</p>
        <p class="mb-4"><a href="/auth/realms/onlymeme/protocol/openid-connect/auth?client_id=account-console" class="link-primary">Account Management Console</a></p>
        <ol class="text-start">
            <li><strong>Log in:</strong> Access the Account Management section by logging into your account.</li>
            <li><strong>Navigate to the bottom:</strong> Scroll to the bottom of the Account Management page.</li>
            <li><strong>Click Delete:</strong> Find and click on the 'Delete' button at the bottom of the page. You will be asked to confirm your decision to ensure that you wish to permanently delete your account and all associated data.</li>
        </ol>
        <div class="image-guide my-4">
            <img src="/static/images/delete_account_guide.png" alt="Step-by-step guide to delete your account" class="img-fluid">
        </div>
        <p>If you have any difficulties or require assistance, please do not hesitate to contact our support team at <a href="mailto:info@only.meme" class="link-primary">info@only.meme</a>.</p>
    </div>
</div>

{% endblock %}