<footer class="footer">
    <p>&copy; 2024 Only Meme. All rights reserved.</p>
    <div class="footer-links">
        <a href="/privacy">
            <i class="fas fa-user-secret"></i> Privacy Policy
        </a>
        <a href="/terms">
            <i class="fas fa-file-contract"></i> Terms of Service
        </a>
        <a href="/delete-me">
            <i class="fas fa-trash-alt"></i> Delete my data
        </a>
    </div>
</footer>