{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div style="text-align: center; padding: 50px;">
    <h2>Welcome to Only Meme!</h2>
    <p>We come here to meme the world.</p>
</div>

{% endblock %}