<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
    <div class="py-4 px-3 mb-4 ">
      <div class="media d-flex align-items-center">
        <a href="/" class="media-body text-white text-decoration-none">
          <i class="text-white mb-3"></i>
          <h4 class="m-0 text-white">OnlyMeme</h4>
        </a>
      </div>
    </div>
    <ul class="nav flex-column  mb-0">
      <li class="nav-item">
        <a href="/" class="nav-link text-light" style="{{ 'font-weight: bold;' if request.path == '/' else '' }}">
          <i class="fas fa-home text-white"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/meme" class="nav-link text-light" style="{{ 'font-weight: bold;' if request.path == '/about' else '' }}">
          <i class="fas fa-info-circle text-white"></i> Meme
        </a>
      </li>
      <li class="nav-item">
        <a href="/account" class="nav-link text-light" style="{{ 'font-weight: bold;' if request.path == '/services' else '' }}">
          <i class="fas fa-briefcase text-white"></i> Account
        </a>
      </li>
    </ul>
  </div>
  