{% extends "layout.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Privacy Policy</h1>
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <p>Your privacy is important to us. It is Reactor LLC's policy to respect your privacy regarding any information we may collect while operating our website, <a href="https://only.meme" class="link-primary">https://only.meme</a>.</p>
            <p>This Privacy Policy applies to <a href="https://only.meme" class="link-primary">https://only.meme</a> (hereinafter, "us", "we", or "our website").</p>
        </div>
    </div>
    
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <h2>Information We Collect and Use</h2>
            <div class="list-group">
                <li class="list-group-item border-0"><i class="bi bi-person-fill me-2"></i><strong>Name:</strong> We collect your name to personalize your experience on our platform.</li>
                <li class="list-group-item border-0"><i class="bi bi-envelope-fill me-2"></i><strong>Email Address:</strong> We collect your email address for purposes such as sending you notifications, responding to inquiries, and other typical business communications.</li>
            </div>
        </div>
    
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <h2>Legal Basis for Processing Personal Data</h2>
            <div class="list-group">
                <li class="list-group-item border-0"><i class="bi bi-check-circle-fill me-2"></i>Your consent;</li>
                <li class="list-group-item border-0"><i class="bi bi-check-circle-fill me-2"></i>Performance of a contract with you (e.g., when you register on our site);</li>
                <li class="list-group-item border-0"><i class="bi bi-check-circle-fill me-2"></i>Compliance with our legal obligations;</li>
                <li class="list-group-item border-0"><i class="bi bi-check-circle-fill me-2"></i>To protect your vital interests;</li>
                <li class="list-group-item border-0"><i class="bi bi-check-circle-fill me-2"></i>To perform a task carried out in the public interest;</li>
                <li class="list-group-item border-0"><i class="bi bi-check-circle-fill me-2"></i>For our legitimate interests, which do not override your fundamental rights and freedoms.</li>
            </div>
        </div>
    
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <h2>Your Data Protection Rights</h2>
            <div class="list-group">
                <li class="list-group-item border-0"><i class="bi bi-shield-fill-check me-2"></i>The right to access, update, or delete the information we have on you. Whenever made possible, you can access, update, or request deletion of your personal data directly within your account settings section.</li>
                <li class="list-group-item border-0"><i class="bi bi-pencil-fill me-2"></i>The right of rectification. You have the right to have your information rectified if that information is inaccurate or incomplete.</li>
                <li class="list-group-item border-0"><i class="bi bi-x-circle-fill me-2"></i>The right to object. You have the right to object to our processing of your personal data.</li>
                <li class="list-group-item border-0"><i class="bi bi-slash-circle-fill me-2"></i>The right of restriction. You have the right to request that we restrict the processing of your personal data.</li>
                <li class="list-group-item border-0"><i class="bi bi-cloud-arrow-down-fill me-2"></i>The right to data portability. You have the right to be provided with a copy of the information we have on you in a structured, machine-readable, and commonly used format.</li>
                <li class="list-group-item border-0"><i class="bi bi-arrow-bar-left me-2"></i>The right to withdraw consent. You also have the right to withdraw    
            </div>
        </div>
{% endblock %}
