{% extends "layout.html" %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Terms of Service</h1>
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <p>These terms and conditions ("Agreement") set forth the general terms and conditions of your use of the <a href="https://only.meme" class="link-primary">https://only.meme</a> website ("Website" or "Service") and any of its related products and services (collectively, "Services"). This Agreement is legally binding between you ("User", "you" or "your") and this Website operator ("Operator", "we", "us" or "our"). By accessing and using the Website and Services, you acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement.</p>
        </div>
    
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <h2>User-Generated Content</h2>
            <p>You are responsible for the content that you post on the Website. By posting content on our Website, you grant us a non-exclusive, worldwide, royalty-free, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the content in connection with the operation of the Website and our business.</p>
            <p>We do not claim any ownership rights to the content you post; however, by posting content, you must have the necessary licenses, rights, consents, and permissions to use and authorize us to use all patent, trademark, trade secret, copyright, or other proprietary rights in and to any and all of your content to provide the Services.</p>
        </div>
    
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <h2>Data Retention and Deletion</h2>
            <p>We retain user-generated content for a period of 60 days after which it is automatically purged from our systems, except for your account information which is retained until you decide to delete your account. This practice supports our commitment to user privacy and data protection.</p>
        </div>
    
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <h2>Account Termination</h2>
            <p>You may delete your account at any time. Upon account deletion, all associated data except for that required by law or necessary for legitimate business purposes will be deleted from our records.</p>
        </div>
    
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <h2>Disclaimers</h2>
            <p>The Website and its content are provided on an "as is" and "as available" basis. We do not warrant the accuracy, completeness, or usefulness of this information. Any reliance you place on such information is strictly at your own risk.</p>
        </div>
    
        <div class="card shadow-lg p-4 mb-4 bg-body rounded">
            <h2>Indemnification</h2>
            <p>You agree to indemnify and hold harmless the Website operator and its officers, directors, employees, and agents from and against any liabilities, losses, damages or costs, including reasonable attorneys' fees, incurred in connection with or arising from any third-party allegations, claims, actions, disputes, or demands asserted against any of them as a result of or relating to your Content, your use of the Website and Services or any willful misconduct on your part.</p>
        </div>
    
        <p class="text-center mt-4">For more detailed information on our practices or any inquiries regarding your personal data, please contact us at <a href="mailto:info@only.meme" class="link-primary">info@only.meme</a>.</p>
    </div>
{% endblock %}
