.vertical-nav {
    min-width: 250px;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    padding: 1rem 0;
    transition: all 0.4s;
  }
  
  .vertical-nav .media {
    margin-bottom: 1rem;
  }
  
  .nav-link {
    color: white;
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav-link:hover, .nav-link:focus {
    background-color: #555;
    text-decoration: none;
  }
  
  .vertical-nav .dropdown-menu {
    position: static;  /* Dropdown to appear within the sidebar */
  }
  
  .body {
    margin-left: 250px; /* Adjust this value to match the width of your sidebar */
  }
  
  @media (max-width: 768px) {
    .vertical-nav {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .body {
      margin-left: 0;
    }
  }
  .footer {
    background-color: #000;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
}

.footer-links a:last-child {
    margin-right: 0;
}

.footer-links i {
    margin-right: 5px;
}

iframe {
  width: 100%;
  height: 80vh;  /* Adjust height based on your layout's needs */
  border: none;  /* Removes the default iframe border */
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
}